<h1>Looking For Answers, We Are Here</h1>
<div id="r">
    <h2>FAQs</h2>
<p><b>What is the maximum amount I can borrow for a home loan?</b></p>
<p>You can borrow up to 90% (upto 80% for original loan between Rs. 20-75 Lacs, & 75% for original loan above Rs. 75 Lacs) of the cost of the property in case of Home Loan Balance Transfer.
However in case of Commercial Loans against Property or Loans against an existing property you can borrow up to 60% of the cost of the property. The Home Loan Balance Transfer Amount shall, however, be restricted to the Outstanding Balance of Loan with the existing financer.
Was this information</p>

<p><b>How will my home loan eligibility be determined?</b></p>
<p>Your home loan repayment capacity as determined by Kotak Mahindra Bank will help decide how much you can borrow.</p>

 <p>Repayment capacity takes into consideration factors such as income, age, qualifications, number of dependent's, spouse's income, assets, liabilities, savings history and stability and continuity of occupation.</p>




<p><b>In how many years can I repay the home loan amount?</b></p>
<p>You can opt for a loan period of up to 20 years or outstanding tenure of the proposed loan to be taken over whichever is lower and can vary depending on your profile.</p>



<p><b>Who can be my co-applicant?</b></p>
<p>If you are an individual - your spouse, your parents, or even your major children can be your co-applicants. The co-owner of a property has to be a co-applicant, but a co-applicant need not be the co-owner of the property.</p>



<p><b>When will the home loan be disbursed?</b></p>
<p>You can take the disbursement after credit, technical and legal appraisals of the property have been done, besides execution of relevant documents & deposit of original property documents is required to be completed prior to disbursement.</p>



<p><b>You Can avail a home loan with OnlineBank, by applying online or visiting our nearby branch.</b></p>

<p>Online Process:

Visit our Home loan page 
Enter personal, financial and employment-related details
You will get to see your eligible offer
Customize the loan amount as per your requirement
Submit the application
 

Our representative will get in touch with you for processing your online application.</p>





<p><b>Does the property have to be insured?</b></p>
<p>Your home is your pride and joy. Don't let unplanned events take it away. Property insurance will take care of home in case an unforeseen event strikes.

 Also, we offer Insurance options to cover your Home Loan Liability. That way, you will be at peace that you and your loved ones will not lose your home.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
</div>