<h1 id="a" style="text-align: center;">Welcome Home Loan Features Page!!!</h1>
<div id="b">
    
    <h2>Features</h2><br>
  
    <ul class="list-goup">
    <li class="list-group-item">Low Interest Rates</li>
    <li class="list-group-item">Low Processing Fee</li>
    <li class="list-group-item">No Hidden Charges</li>
    <li class="list-group-item">No Pre Payment Penalty</li>
    <li class="list-group-item">Interest charges on Daily Reducing Balance</li>
    <li class="list-group-item">Repayment up to 30 years</li>
    <li class="list-group-item">Home Loan Available as Overdraft</li>
    <li class="list-group-item">Interest Concession for Women Borrowers</li>
    </ul>
  </div>