<div>
    <h1>Property and Employment</h1>
    <br><br>
    <label>Property Location</label>
    <input type="text" required class="form-control"  [(ngModel)]="proploc"/>
    <br>
    <label>Property Name</label>
    <input type="text" required class="form-control" [(ngModel)]="propname"/>
    <br>
    <label>Property Amount</label>
    <input type="number" required  [(ngModel)]="propamt" class="form-control"/>
    <br>
    <label>Organization Type</label>
    <select required class="form-control" [(ngModel)]="orgtype">
        <option value="public">Public Sector</option>
        <option value="private">Private Sector</option>
    </select>
    <br>
    <label>Retirement Age</label>
    <input type="number" required  [(ngModel)]="retage" class="form-control"/>
    <br>
    <label>Employer Type</label>
    <input type="text" required  [(ngModel)]="emptype" class="form-control"/>
    <br>
    <label>Employer Name</label>
    <input type="text" required class="form-control" [(ngModel)]="empname"/>
    <br>
    <button class="btn btn-success" (click)="goToNxtPg()">SUBMIT</button>
    <br><br>
</div>