div
{
    padding-left: 350px;
    padding-right: 400px;
    margin-bottom: 50px;
    background-color: aliceblue;    
}


label
{
    margin-left: 120px;
    color:black;
}
h1{color:black}
button
{
    margin-left: 120px;
}