<div class="about-section">

    <h1>About Us</h1><br>
 
   <p>Homes are the place where the heart rests. We make sure that your heart is not burdened.</p>

  
</div>

  

  <br>
  
<div class="row">
  
  <div class="column">
  
    <div class="card">
  
      
        <div class="container">
  
                  <h2>Our Values</h2>
    
          <p>Trust</p>
          <p>Transparency</p>
          <p>Integrity</p>
          <p>Excellence</p>
       
 </div>
      
</div>
    
</div>
  
    
<div class="column">
      
<div class="card">
      
       
 <div class="container">
            
<h2>Values to customer</h2>
            
<p> Easy options for EMI</p>
           
 <p> Interest Calculation on Daily Reducing Balance</p>
            
<p> Overdraft Facility available</p>
            
<p>Low Interest Rates</p>
            
<p>Low Processing Fees</p>
           
 <p>No Hidden Costs</p>
           
 <p>No Pre-payment Penalty</p>
 <p>Bank At Aour Doorsteps</p>
       
 </div>
     
 </div>
    
</div>
  

    <div class="column">
     
 <div class="card">
        
       
 <div class="container">
           
 <h2>Our Presence</h2>
           
 <p> 10,000+ branches</p>
          
  <p> 500+ member strong dedicated Sales Team</p>
       
 </div>
     
 </div>
   
 </div>
   
 <div class="column">
      
  <div class="card">
          
        
  <div class="container">
             
 <h2>Recognitions
                
                </h2>
  
            <p>Winner of the “Best Home Loan Provider “at Media TV's Heart Not Just Home</p>
            <p>Award for Best Customer Support for succesfully catering to 1,00,000+ customers Worldwide</p>
            
          </div>
        </div>
      </div>
    </div>