div
{
    margin-left: 400px;
    margin-right: 400px;
}

h2
{
    margin-left: 520px;
}
span
{
    margin-left: 500px;
    font-style:oblique;
    font-size: large;
}
button
{
    margin-left: 570px;
}

