<div class="wholeContainer">
    <h2>Admin Login</h2>
    <br><br>
          <label>Email:</label>
          <input type="email" class="form-control" required [(ngModel)]="user.email">
        <br>
            <label>Password:</label>
            <input type="password" class="form-control" required [(ngModel)]="user.password">
        <br>
        <br>
          <button class="btn btn-primary" (click)="doLogin()">Submit</button>
          <button class="btn btn-danger" (click)="forgot()">Forgot Password?</button>
      <br>
      <br>
      <br>
      <span>{{msg}}</span>
</div>