
    <h2>Admin Login</h2>
    
        <div>
          <label class="form-control">Email:</label>
          <input type="email" class="form-control" required [(ngModel)]="user.email">
        </div>
        <div>
            <label class="form-control">Password:</label>
            <input type="password" class="form-control" required [(ngModel)]="user.password">
        </div>
        <br>
        <br>
      <button class="btn btn-primary" (click)="doLogin()">Submit</button>
      <br>
      <br>
      <br>
      <span>{{msg}}</span>