
<div class="outer">
    <h1>Personal Details</h1>
    <br>
    <label>First Name</label>
    <input class="form-control" type="text" required  [(ngModel)]="firstname">
    <br>
    <label>Middle Name</label>
    <input class="form-control" type="text" [(ngModel)]="middlename">
    <br>
    <label>Last Name</label>
    <input class="form-control" type="text" required [(ngModel)]="lastname">
    <br>
    <label>Phone Number</label>
    <input class="form-control" type="number" required [(ngModel)]="phone">
    <br>
    <label>Date of Birth</label>
    <input class="form-control" type="date" required [(ngModel)]="dob">
    <br>
    <label>Gender</label>
    <select class="form-control" [(ngModel)]="gender">
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="others">others</option>
    </select>
    <br>
    <label >Nationality</label>
    <select class="form-control" [(ngModel)]="nationality">
        <option value="indian">Indian</option>
        <option value="nri">NRI</option>
    </select>
    <br>
    <div *ngIf="flag==1">
        <label>Email</label>
        <input type="email" class="form-control" required [(ngModel)]="email">
        <br>
        <label>Password</label>
        <input type="password" class="form-control" required [(ngModel)]="password">
        <br>
        <label>Retype Password</label>
        <br>
        <input type="password" class="form-control" required [(ngModel)]="repass">
        <span class="alert-text" *ngIf="password!=repass">passwords dont match</span>
    </div>
    <br><br>
    <button class="btn btn-success" (click)="submit()">SUBMIT</button>
    <button class="btn btn-primary" (click)="gologin()">Go back to Login</button>
    <br><br>
    {{msg}}
    <br><br>
</div>