.img
{
    background-color: ghostwhite;
}

h1
{
    margin-left: 500px;
}

.btnapply
{
    float:left;
    position: relative;
    margin-left: 100px;
}


.divTable
{
    padding-left: 30px;
    padding-right: 40px;
}

label
{
    padding-left:350px;
}
