<div class="outer">
    <h1>Forgot Password?</h1>
    <br>
    <label>Enter Email</label>
    <br>
    <input type="email" required [(ngModel)]="email">
    <br><br>
    <button class="btn btn-primary" (click)="getotp()">get new otp</button>
    <br><br>
    <div *ngIf="f==1"> <!--f=1-->
        <label>Enter OTP</label>
        <br>
        <input type="text" required [(ngModel)]="otp"/>
        <br><br>
        <button class="btn btn-success" (click)="checkotp()">Verify otp</button>
        <br><br><br>
        <span *ngIf="f1==0">otp dont match</span>
        <div *ngIf="f1==1"> <!--f1=1-->
            <br>
            <label>Enter new password</label>
            <br>
            <input  type="password" [(ngModel)]="pass" required/>
            <br>
            <br>
            <label>Re-enter new password</label>
            <br>
            <input  type="password" [(ngModel)]="repass" required/>
            <br><br>
            <button class="btn btn-danger" [disabled]="pass!=repass" (click)="updatePass()">submit</button>
            {{msg}}
        </div>
    </div>
</div>