<label>Enter Email</label>
<input type="email" required [(ngModel)]="email">
<br>
<button class="btn btn-primary" (click)="getotp()">get new otp</button>

<div *ngIf="f==1">
    <input type="text" required [(ngModel)]="otp"/>
    <br>
    <button class="btn btn-success" (click)="checkotp()">Verify otp</button>
    <br><br>
    <span *ngIf="f1==0">otp dont match</span>
    <div *ngIf="f1==1">
        <label>enter new password</label>
        <input  type="password" [(ngModel)]="pass" required/>

        <label>reenter new password</label>
        <input  type="password" [(ngModel)]="repass" required/>

        <button class="btn btn-alert" [disabled]="pass!=repass" (click)="updatePass()">submit</button>
        {{msg}}
    </div>
</div>