#centerImg
{
  margin-left: 70px;
}


.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 110px;
  right: 80px;
  background-color:#e6dded;
  color: white;
  padding-left: 50px;
  padding-right:50px;
  padding-bottom: 50px;
}

.button {
  background-color:#1669f0;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 2px 2px;
  cursor: pointer;
}


