.img
{
    background-color: whitesmoke;
}

h1
{
    margin-left: 500px;
}

.btnapply
{
    float:left;
    position: relative;
    margin-left: 100px;
}



.divTable
{
    padding-left: 50px;
    padding-right: 50px;
}
