.img
{
    background-color: whitesmoke;
}

h1
{
    margin-left: 500px;
}

.btnapply
{
    float:left;
    position: relative;
    margin-left: 100px;
}

table,th,td
{
    border:2px solid black;
}

.divTable
{
    padding-left: 300px;
}
