<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="panel img">
<h1>Welcome</h1>
<br><br>
<div class="allBtn">
<button class="btn btn-success btnapply" (click)="toggleHistories1()">Show/Hide History</button>
<button class="btn btn-success btnapply" (click)="toggleHistories2()">Show/Hide Bank Details</button>
<button class="btn btn-success btnapply" (click)="toggleHistories3()">Show/Hide Loan Details</button>
<button class="btn btn-primary btnapply" (click)="applyNow()">Apply Now</button>
</div>
<br><br><br>
<br>
<div *ngIf="flag1==1 && PrevRec!=null" class="divTable">
    <table class="table table-dark">
        <tr>
            <th>Application ID</th>
            <th>Status of Application</th>
        </tr>
    
        <tr *ngFor="let rec of PrevRec">
            <td>{{rec.appId}}</td>
            <td>{{rec.status}}</td>
        </tr>
    </table>
</div>
<br><br><br><br>
<div *ngIf="flag2==1 && BankDet!=null" class="divTable">
    <table class="table table-dark">
        <tr>
            <th>Application Id</th>
            <th>Account No</th>
            <th>ifsc</th>
        </tr>
    
        <tr *ngFor="let rec of BankDet">
            <td>{{rec.appId}}</td>
            <td>{{rec.accNo}}</td>
            <td>{{rec.ifsc}}</td>
        </tr>
    </table>
</div>
<br><br><br><br>
<div *ngIf="flag3==1 && LoanDet!=null" class="divTable">
    <table class="table table-dark">
        <tr>
            <th>Application Id</th>
            <th>Loan Amount</th>
        </tr>
    
        <tr *ngFor="let ld of LoanDet">
            <td>{{ld.appId}}</td>
            <td>{{ld.loanAsked}}</td>
        </tr>
    </table>
</div>
<br><br>
</div>